.back-button-container {
  // position: fixed;
  top: 20px;
  left: 20px;
  padding-left: 0.25rem;
  z-index: 10000;
}

.icon.btn-flat.plugin-outlets-header-icon {
  padding: 10px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon.btn-flat.plugin-outlets-header-icon:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.NOfixed-header {
  position: fixed;
  height: auto;
  // top: 0;
  // left: 0;
  // z-index: 1000; /* Adjust this value as needed to ensure it's above other elements */
  width: 100%;
  // background-color: #ffffff; /* Adjust the background color as needed */
}
