.back-button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.NOback-button {
  padding: 6px 12px;
  // background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.NOback-button:hover {
  background-color: rgba(255, 255, 255, 1);
}
